@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('../assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/Roboto/Roboto-Medium.ttf');
}